

/*navbar*/

.navbar{
display: flex;
justify-content: space-around;
}

.container-nav{
  flex-direction: row-reverse; 
  width:60%;
}

.navbar-nav{
  display:flex; 
  justify-content: space-around; 
  align-items: center;
   
}

.navbar-brand{ 
 justify-content: center;
}

.container-iconos-navbar{
  width:auto; 
  display: flex; 
}

.navbar-toggler{
  position: absolute;
  padding-right: 1rem;
}

.menu{
flex-grow: 1;
display: flex;
width:auto;
justify-content:center;

}




.navbar { 
  transition:0.6s ease-in-out,
   box-shadow 0.3s ease-in-out;
 
}

.navbar.scrolled {
  background-color: #5e8791;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.644);
}



main .principal {
  display: flex;
  flex-direction: column;
  align-items: center;
 background-image: url(../assets/banner-01-01.png);
  background-repeat: no-repeat;
  background-size:cover; 
  margin-top: 2.5rem; 
 
 
}
main .principal .marquesina {
  overflow: hidden;
  white-space: nowrap;
  width: auto; 
}
 .marquee-item {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 15s infinite linear;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


#carrito{ 
  text-decoration: none !important;
  width: 2rem; 
}

 .imagen-carrito{
  width: 100%;
  height: auto;
  margin-right: -0.5rem;
 
}

.carrito-container:hover .modal {
  display: block;
  background-color: #292626;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position:fixed;
}

.contenedor-carrito {
  position: relative; 
  display: inline-block; 
}

.boton-modal-carrito {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  padding: 0; /* Sin padding */
  cursor: pointer; /* Cursor de puntero */
  z-index: 1; /* El botón estará por encima del icono */
}

/* Estilos opcionales para el icono dentro del botón */
.boton-modal-carrito i {
  font-size: 1.5rem;
  color: #fff; /* Color del icono */
}

.contador-circulo {
  position: absolute;
  top: 7px; /* Ajusta este valor para la posición vertical */
  right: 1px; /* Ajusta este valor para la posición horizontal */
  transform: translate(50%, -50%); /* Centrar el círculo */
  width: 23px; /* Ajusta este valor para el tamaño del círculo */
  height: 23px; /* Ajusta este valor para el tamaño del círculo */
  border-radius: 50%;
  background-color: red;
  color: white; /* Color del texto dentro del círculo */
  font-size: 12px; /* Tamaño del texto dentro del círculo */
  text-align: center; /* Centrar el texto horizontalmente */
  line-height: 20px; /* Centrar el texto verticalmente */
  display: none; /* Ocultar inicialmente */
}

#login{
text-decoration: none;
width: 2rem;
}   



.imagen-login{
  width: 100%; 
}

.img-container{
width: 5rem;
}

.container-texto-principal{
width: 40%;
height:auto;
margin-left: 10rem;
justify-content: center;
align-items: center;
}

.text-overlay-container{
margin-top: 3rem;

 
}

.text-overlay{
padding: 1px;
height: auto;
}


main .principal .banner .texto_principal {
  position: relative;
  display: block;
  height: 75vh;
  margin-top: 16px;
  z-index: 1000;
}
main .principal .banner .texto_principal h1 { 
  font-weight:100;
  font-size: 6rem;
  font-family:'Courier New', Courier, monospace;
  color: #fafafa;
  margin-top: 15rem;


}
main .principal .banner .texto_principal h2 {
  font-weight: 700;  
  margin-top: 0.5rem;
  font-size: 8rem;
}

main .principal .banner .texto_principal .hasta {
  color: #fafafa;
  font-size: 2.5rem;
}
main .principal .banner .texto_principal .porciento {
  color: #df1515;
  font-size: 3rem;
  font-weight: 500;
  line-height: 2.5rem;
}
main .principal .banner .texto_principal .shop {
  color: #fafafa;
  text-decoration: underline;
}
main .principal .banner .texto_principal .shop .btn {
  color: #fafafa;
background-color: #df1515;
}

/*zoom con javascript*/
.boton-shop {
  background-color: #3a3939;
  transition: transform 0.3s ease;
  transform: scale(1.1);
}


main .principal .banner .texto_principal .titulo-productos {
  color: #000000;
 
}
main .principal .banner .texto_principal .envios {
  height: 6rem;
  background-color: #df1515;
}
main .principal .banner .texto_principal .envios p {
  font-size: 2rem !important;
  font-weight: 200;
}
main .principal .banner .texto_principal font-family:Verdana,
main .principal .banner .texto_principal Geneva,
main .principal .banner .texto_principal Tahoma,
main .principal .banner .texto_principal sans-serif .card:hover {
  background-color: #fafafa;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0117647059);
}

/*acomodar el nesting comparando con el html*/
/*esto v a un partial modal*/
.modal-lateral-solapa {
  position: fixed;
  top: 50%;
  left: 0;
  width: 3.5rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  transform: translateY(-50%);
  padding: 0.5rem;
 padding-bottom: 4rem;
  background-color:#037166;
  color:#ffff; 
  cursor: pointer;
  border-radius: 0 5px 5px 0; 
  z-index: 1001; }

.modal-lateral-solapa button {
  border: none;
  background: none;
  padding: 0;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size:1.2rem ;
  font-weight: 200;
  color: #ffffffda;
}

.modal-lateral {
  position: fixed;
  top: 50%; 
  left: -400px; /* Oculto inicialmente, ancho de la tarjeta */
  width: 400px; 
  height: 550px; /* Alto de la tarjeta */
  transform: translateY(-50%); /* Ajusta el centrado vertical */
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 0 10px 10px 0; 
}

.modal-lateral.abierto {
  left: 0; 
}

.modal-lateral-contenido {
  padding: 15px;
}

.modal-lateral-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#cerrar-solapa{
  font-size: 20px;
  align-self: center;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

/*botón whatsapp***************************************/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.whatsapp-button img {
  max-width: 80%; /* Ajusta el tamaño de la imagen */
  max-height: 80%;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}



.titulo-productos{
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.newsletter-content {
  text-align: center;
  flex-grow: 1;
}

.newsletter-content img {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.newsletter-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter-form button {
  width: 80%;
  padding: 10px;
  background-color: #ffc904;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productos-destacados{
  font-weight: 500;
 
}

#productos-contenedores{ 
  flex-wrap: wrap; 
 width: 100%;
 display: flex;
}

.card-container{ 
    height: auto; 
    text-align: center;
}

.card-name{
  font-size: 1.4rem;
  font-style: oblique;
}

.card-price{
  
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.card-description{ 
line-height: normal;
  text-align: center;
 max-width: 80%;
 margin: 0 auto;
 font-size: 1rem;
 margin-bottom: 1.5rem;
  
}

.fade{
  background-color: rgba(73, 73, 75, 0.716);
}

.card {
  
  border: 0.5px solid rgba(0, 0, 0, 0.521);
  box-shadow: 2px, 2px, 5px rgba(219, 222, 222, 0.867);
  text-align: center;
   
   
}

.card-img{ 
  object-fit:cover;
    width: 100%; /* La imagen ocupa todo el ancho de la card */
    height: auto; /* La altura se ajusta automáticamente */
    max-height: 200px; /* Ejemplo de altura máxima */
}
    

    .card .div{
      display: flex;
      flex-direction: column;      
      gap: 10px;
      justify-content: center;
      overflow: hidden;
    }

.btn-primary {
  background-color:#df1515de;
  ;
  border:#232121;
}

.btn-primary:hover{
 
  background-color: #c70b0b;
}

.titulo-productos {
  color: #2a2727;
  font-weight: 100;
}

.envios {
  height: 5rem;
  background-color: #e8e6dd;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  


  
#gratis {
 
  font-size: 1.8rem;
  font-weight: 100;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  justify-content:space-between;
 padding: 1rem;

}
}

 .card:hover {
  background-color: #f4e8e854;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0117647059);
}

.siderbar {
  position: fixed;
}

#nuevo-evento{
  transition: transform 0.3s ease-in-out;
}

#nuevo-evento:hover{
  transform: scale(1.3);}


 .form-wrap .card {
  position: relative;
  overflow: hidden;
 }

.form-wrap .card .row{
  display: flex;
  flex-wrap: nowrap;
}

.form-check{
  display: flex;
 justify-content: center;
  margin-bottom: 10px;
  text-align: justify;
  
}

.form-check input{
margin-right: 5px;
}

/*form*/
.btn-submit{
  margin-top: 1rem;
  margin-bottom: 12rem;
  background-color: rgb(255, 208, 0);
}

footer li{
  list-style-type: none;
  text-align: center;
  
  a{
    color: #887979;
  }
}

.footer-suscription{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.footer-column h3{
  margin-left: 1rem;
}


/*mediaqueries****************************************************************/
/*320*/
@media (max-width: 320px){


  
  .navbar{
width: 100%;
  }
  
  
  
    .gx-0{background-color: blueviolet;}
  
    .banner{       
      background-image: url(/imagenes.js/freepik__expand__25699.png);
      background-size:cover;
      background-repeat: no-repeat;
      background-position:center;  
         
    }
  
    .text-overlay-container{        
      justify-content: center;
      background-color: #ffffff;  
    padding-bottom: 2.5rem;
     align-items: center;
    }
  
    main .principal .banner .texto_principal {   
      height: 65vh;
      margin-top: 8px;   
    }
  
    
    main .principal .banner .texto_principal h1{
      font-size: 1.5rem;
      color: #000;
    }
    
      .texto_principal{      
      
        text-align: center; 
             
      }
    
      main .principal .banner .texto_principal .hasta {
        font-size: 0.7rem;
        margin-right: 0.5rem;
        font-family: 'Courier New', Courier, monospace;
        color: #000;   
      }
    
      main .principal .banner .texto_principal h2{
        font-size: 2rem;
         
      }
    
      main .principal .banner .texto_principal .porciento{
       font-size: 1.2rem;
       line-height: 1rem;
      }
    
      main .principal .banner .texto_principal .porciento p{
        margin: 0;
       font-size: 0.8rem;
      }
    
      .productos_seleccionados{
        font-size: 0.6rem;
        color: #000 !important;   
      }
  
      .envios #gratis{
        font-size: 0.7rem;   
      }
    
      .envios #gratis p{
        margin-right: 0.4rem;
        margin-top: 1rem;
      }
    
   
  
      .navbar-nav{ 
       text-align: center;  
      
      }
    
    .container-iconos-navbar{ 
      display: flex;
      flex-direction: row;
      margin-right: 3.5rem;
      width: 100%; 
    }
    
    .nav-img{
      width: 70px;
    }
    ul{
      display: block !important;
      text-align: right;
    }
    
    .form-wrap{
      margin-top: 20rem;
     
     }
    
     .form-wrap .card{
     
      position: relative;
      height: auto !important;
    
     }
    
    .card-img-top{
    max-width: 80%;
    
    }
    
    .card-container{
      overflow: hidden !important;
    }
    
    #nuevo-evento{
      font-size: 0.5rem;
      justify-content: center;
    }
  
  .imagen-carrito, .imagen-login .navbar-toggler{
    width: 28px !important;
  }
  
  .form-wrap{
    margin-top: 2rem;
  }
  
  footer{
    width: 100%;
  }
  
  }
@media (max-width:768px)
{

  .container-nav{
   flex-wrap: wrap;
   flex-direction: row-reverse;
  }

  .navbar-nav{
    flex-wrap: nowrap;
    background-color: #3a3939;
  }

  .menu{   
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
 
  .offcanvas-header .btn-close {
   margin-top: 3rem;
    color: #000;
    font-size: 1.5rem;
  }

  .banner{  
    background-image: url(/assets/banner-01.png);
    background-size:cover; 
    background-repeat: no-repeat;   
  width: 100%;
     
  }

  .container-texto-principal{    
    margin-left: 5rem;   
  }

  main .principal .banner .texto_principal {   
    height: 85vh;
    margin-top: 8px;   
  }


main .principal .banner .texto_principal h1{
  font-size: 2.5rem;
 
}

  .texto_principal{       
    height: auto;
    text-align: center;
    padding: 5rem 0;
 
  }

  main .principal .banner .texto_principal .hasta {
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
  }

  main .principal .banner .texto_principal h2{
    font-size: 5rem;
  }

  main .principal .banner .texto_principal .porciento{
    font-size: 2.5rem;
  }

  main .principal .banner .texto_principal .porciento p{
    margin: 0;
  }



  .envios #gratis{
    font-size: 1rem;   
  }

  .envios #gratis p{
    margin-right: 4rem;
  }


  .navbar-nav{ 
   text-align: center;     
  }

.container-iconos-navbar{ 
  display: flex;
  flex-direction: row;
  margin-right: 3.8rem;
}


ul{
  display: block !important;
  text-align: right;
}

.form-wrap{
  margin-top: 20rem;
 
 }

 .form-wrap .card{
  width: 100%;
  position: relative;
  height: auto !important;

 }

.card-img-top{
max-width: 80%;

}

.card-container{
  overflow: hidden !important;
}

#nuevo-evento{
  font-size: 1rem;
  justify-content: center;
}


}

 




/*carrito*/



















/*# sourceMappingURL=style.css.map */


