

/*navbar*/

.navbar{
display: flex;
justify-content: space-around;
}

.container-nav{
  flex-direction: row-reverse; 
  width:60%;
}

.navbar-nav{
  display:flex; 
  justify-content: space-around; 
  align-items: center;
   
}

.navbar-brand{ 
 justify-content: center;
}

.container-iconos-navbar{
  width:auto; 
  display: flex; 

}

.navbar-toggler{
  position: absolute;
  padding-right: 1rem;
}
.menu{
flex-grow: 1;
display: flex;
width:auto;
justify-content:center;

}




.navbar { 
  transition:0.6s ease-in-out,
   box-shadow 0.3s ease-in-out;
 
}

.navbar.scrolled {
  background-color: #706d67;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.644);
}



main .principal {
  display: flex;
  flex-direction: column;
  align-items: center;
 background-image: url(../assets/banner-01-01.png);
  background-repeat: no-repeat;
  background-size:cover; 
  margin-top: 2.5rem; 
  min-height: 70vh;
 
}
main .principal .marquesina {
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}
 .marquee-item {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 15s infinite linear;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


#carrito{ 
  text-decoration: none !important;
  width: 2rem; 
}

 .imagen-carrito{
  width: 100%;
  height: auto;
  margin-right: 1.5rem;
 
}

.carrito-container:hover .modal {
  display: block;
  background-color: #292626;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position:fixed;
}

.contenedor-carrito {
  position: relative; /* El contenedor será la referencia para posicionar el botón */
  display: inline-block; /* Ajusta el ancho al contenido */
}

.boton-modal-carrito {
  position: absolute; /* El botón se superpondrá al icono */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  padding: 0; /* Sin padding */
  cursor: pointer; /* Cursor de puntero */
  z-index: 1; /* El botón estará por encima del icono */
}

/* Estilos opcionales para el icono dentro del botón */
.boton-modal-carrito i {
  font-size: 1.5rem;
  color: #fff; /* Color del icono */
}


#login{
text-decoration: none;
width: 2rem;
}   


.imagen-login{
  width: 100%; 
}

.img-container{
width: 5rem;
}

.container-texto-principal{
width: 40%;
height:auto;
margin-left: 15rem;
justify-content: center;
align-items: center;
}


main .principal .banner .texto_principal {
  position: relative;
  display: block;
  height: 70vh;
  margin-top: 16px;
  z-index: 1000;
}
main .principal .banner .texto_principal h1 { 
  font-weight:100;
  font-size: 6rem;
  font-family:'Courier New', Courier, monospace;
  color: #fafafa;
  margin-top: 15rem;


}
main .principal .banner .texto_principal h2 {
  font-weight: 700;  
  margin-top: 0.5rem;
  font-size: 8rem;
}

main .principal .banner .texto_principal .hasta {
  color: #fafafa;
  font-size: 2.5rem;
}
main .principal .banner .texto_principal .porciento {
  color: #df1515;
  font-size: 3rem;
  font-weight: 500;
  line-height: 2.5rem;
}
main .principal .banner .texto_principal .shop {
  color: #fafafa;
  text-decoration: underline;
}
main .principal .banner .texto_principal .shop .btn {
  color: #fafafa;
background-color: #df1515;
}

/*zoom con javascript*/
.boton-shop {
  background-color: #3a3939;
  transition: transform 0.3s ease;
  transform: scale(1.1);
}


main .principal .banner .texto_principal .titulo-productos {
  color: #000000;
}
main .principal .banner .texto_principal .envios {
  height: 6rem;
  background-color: #df1515;
}
main .principal .banner .texto_principal .envios p {
  font-size: 2rem !important;
  font-weight: 200;
}
main .principal .banner .texto_principal font-family:Verdana,
main .principal .banner .texto_principal Geneva,
main .principal .banner .texto_principal Tahoma,
main .principal .banner .texto_principal sans-serif .card:hover {
  background-color: #fafafa;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0117647059);
}

/*acomodar el nesting comparando con el html*/
/*esto v a un partial modal*/

#newsletterModal {
  position: fixed; /* Posicionamiento fijo */
  top: 0; /* Se ubicará en la parte superior */
  right: 0; /* Se ubicará en el lado derecho */
  bottom: 0; /* Se extenderá hasta la parte inferior */
  width: 30%; /* Ocupará el 30% del ancho de la pantalla */
  height: 100%; /* Ocupará el 100% de la altura de la pantalla */
  transform: translateX(100%); /* Inicialmente, estará oculto a la derecha */
  transition: transform 0.3s ease-in-out; /* Transición suave */
  z-index: 1050; /* Asegura que esté por encima de otros elementos */
}

#newsletterModal.show {
  transform: translateX(0); /* Se mostrará deslizando desde la derecha */
}

#newsletterModal .modal-dialog {
  margin: 0 auto; /* Elimina los márgenes automáticos del diálogo */
  max-width: 100%; /* El diálogo ocupará todo el ancho del modal */
  height: 100%; /* El diálogo ocupará todo el alto del modal */
}

#newsletterModal .modal-content {
  height: 100%; /* El contenido del modal ocupará todo el alto del diálogo */
  border: none; /* Opcional: elimina el borde del modal */
}*/
/*partial cards*/

.titulo-productos{
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.productos-destacados{
  font-weight: 500;
 
}

#productos-contenedores{ 
  flex-wrap: wrap; 
 
}

.card-container{ 
  height: 100%;
  background-color: blueviolet;
  
}

.card {
  border: 0.5px solid rgba(0, 0, 0, 0.521);
  box-shadow: 2px, 2px, 5px rgba(219, 222, 222, 0.867);
  text-align: center;
   
   
}

.card-img{ 
  object-fit:cover;
    }

    .card .div{
      display: flex;
      flex-direction: column;      
      gap: 10px;
      justify-content: center;
      overflow: hidden;
    }

.btn-primary {
  background-color: #df1515;
  border: none !important;
}

.titulo-productos {
  color: #2a2727;
  font-weight: 100;
}

.envios {
  height: 5rem;
  background-color: #e8e6dd;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  


  
#gratis {
 
  font-size: 1.8rem;
  font-weight: 100;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  justify-content:space-between;
 padding: 1rem;

}
}

 .card:hover {
  background-color: #c0b7b754;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0117647059);
}

.siderbar {
  position: fixed;
}

#nuevo-evento{
  transition: transform 0.3s ease-in-out;
}

#nuevo-evento:hover{
  transform: scale(1.3);}


 .form-wrap .card {
  position: relative;
  overflow: hidden;
 }

.form-wrap .card .row{
  display: flex;
  flex-wrap: nowrap;
}

.form-check{
  display: flex;
 justify-content: center;
  margin-bottom: 10px;
  text-align: justify;
  
}

.form-check input{
margin-right: 5px;
}

.btn-submit{
  margin-top: 1rem;
  margin-bottom: 12rem;
  background-color: rgb(255, 208, 0);
}

/*mediaqueries****************************************************************/
@media (max-width:768px)
{

  .container-nav{
   flex-wrap: wrap;
   flex-direction: row-reverse;
  }

  .navbar-nav{
    flex-wrap: nowrap;
    background-color: #3a3939;
  }

  .menu{   
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
 
  .offcanvas-header .btn-close {
   margin-top: 3rem;
    color: #000;
    font-size: 1.5rem;
  }

  .banner{
    max-height: 50%;  
    background-image: url(/assets/banner-01.png);
    background-size: cover; 
     
  }

  .container-texto-principal{
    background-color: rgba(8, 8, 9, 0.582);
    width: auto;
    margin:0 auto;
  }

  
main .principal .banner .texto_principal h1{
  font-size: 3rem;
  margin-top: 7rem;
}

  .texto_principal{
    margin-left: 1rem;
    max-width: 50%;
    height: auto;
    text-align: center;
    padding: 5rem 0;
    
  }



  .porciento{
    font-size: 1rem;
  }

  .envios #gratis{
    font-size: 1rem;   
  }

  .envios #gratis p{
    margin-right: 4rem;
  }


  .navbar-nav{
 
   text-align: center;     
  }

.container-iconos-navbar{ 
  display: flex;
  flex-direction: row;
  margin-right: 3.8rem;
}


ul{
  display: block !important;
  text-align: right;
}
}

 
 .form-wrap{
  margin-top: 20rem;
 
 }

 .form-wrap .card{
  width: 100%;
  position: relative;
  height: auto !important;

 }

.card-img-top{
max-width: 80%;

}

.card-container{
  overflow: hidden !important;
}


@media (max-width: 320px){
  .banner{    
    padding: 2rem 0;
    background-image: url(/assets/banner-01-01.png);
    background-size:contain;
   
  }

  .texto_principal{
    margin: 0 auto;   
    height: auto;
    text-align: center;
    padding: 0.5rem 0;
  }

  .envios{
    padding: 0.5rem;
   } 

  .nav-img{
    width: 50%;
  }
 
 .form-wrap{
  margin-top: 20rem;
 
 }

}
















/*# sourceMappingURL=style.css.map */


